The original dataset was uploaded to [kaggle](https://www.kaggle.com/datasets/thefc17/bundesliga-results-19932018) by user Sam Lawson.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/Bundesliga_Results.csv')

df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,D1,7/8/1993,Bayern Munich,Freiburg,3,1,H,NaN,NaN,NaN,1993-94
1,D1,7/8/1993,Dortmund,Karlsruhe,2,1,H,NaN,NaN,NaN,1993-94
2,D1,7/8/1993,Duisburg,Leverkusen,2,2,D,NaN,NaN,NaN,1993-94
3,D1,7/8/1993,FC Koln,Kaiserslautern,0,2,A,NaN,NaN,NaN,1993-94
4,D1,7/8/1993,Hamburg,Nurnberg,5,2,H,NaN,NaN,NaN,1993-94

In [3]:
df.shape

(7650, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7650 entries, 0 to 7649
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       7650 non-null   object
 1   Date      7650 non-null   object
 2   HomeTeam  7650 non-null   object
 3   AwayTeam  7650 non-null   object
 4   FTHG      7650 non-null   int64
 5   FTAG      7650 non-null   int64
 6   FTR       7650 non-null   object
 7   HTHG      7038 non-null   float64
 8   HTAG      7038 non-null   float64
 9   HTR       7038 non-null   object
 10  Season    7650 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 657.5+ KB

In [5]:
# The author of the dataset says that "D1" is the only value in the "Div" column, let's make sure of it.
df["Div"].value_counts()

D1    7650
Name: Div, dtype: int64

In [6]:
# So the "Div" columns does not contribute any additional knowledge so we don't need it.
df.drop(columns=["Div"], inplace=True)

df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,7/8/1993,Bayern Munich,Freiburg,3,1,H,NaN,NaN,NaN,1993-94
1,7/8/1993,Dortmund,Karlsruhe,2,1,H,NaN,NaN,NaN,1993-94
2,7/8/1993,Duisburg,Leverkusen,2,2,D,NaN,NaN,NaN,1993-94
3,7/8/1993,FC Koln,Kaiserslautern,0,2,A,NaN,NaN,NaN,1993-94
4,7/8/1993,Hamburg,Nurnberg,5,2,H,NaN,NaN,NaN,1993-94

## Transforming column dtypes:

In [7]:
# Categories
df["FTR"] = df["FTR"].astype('category')
df["HTR"] = df["HTR"].astype('category')
df["HomeTeam"] = df["HomeTeam"].astype('category')
df["AwayTeam"] = df["AwayTeam"].astype('category')

In [8]:
# Check value range of FTHG and FTAG attributes, HTHG and HTAG are within this range
print(f"Max. FTHG: {df['FTHG'].max()}, Max. FTAG: {df['FTAG'].max()}")

Max. FTHG: 9, Max. FTAG: 9

In [9]:
# Int Downcasting (only when there are no NaN or inf values):
# df['FTHG'] = df['FTHG'].astype('int8')
# df['FTAG'] = df['FTAG'].astype('int8')
# df['HTHG'] = df['HTHG'].astype('int8')
# df['HTAG'] = df['HTAG'].astype('int8')

## Adjust column values:

Full team names in the HomeTeam and AwayTeam Columns.

In [10]:
df["HomeTeam"].value_counts()

Bayern Munich         425
Werder Bremen         425
Schalke 04            425
Dortmund              425
Hamburg               425
Leverkusen            425
Stuttgart             408
Wolfsburg             357
M'gladbach            357
Hertha                323
Ein Frankfurt         323
Freiburg              306
FC Koln               289
Hannover              255
Kaiserslautern        238
Nurnberg              221
Mainz                 204
Bochum                204
Hansa Rostock         187
Munich 1860           170
Hoffenheim            170
Bielefeld             153
Duisburg              136
Augsburg              119
Karlsruhe             119
Cottbus               102
St Pauli               68
Uerdingen              34
Unterhaching           34
Dusseldorf             34
Dresden                34
Darmstadt              34
Ingolstadt             34
RB Leipzig             34
Wattenscheid           17
Ulm                    17
Paderborn              17
Braunschweig           17
M'Gladbach             17
Fortuna Dusseldorf     17
Leipzig                17
Greuther Furth         17
Aachen                 17
Name: HomeTeam, dtype: int64

In [11]:
old_team_names = df["HomeTeam"].value_counts().index.tolist()

old_team_names

['Bayern Munich',
 'Werder Bremen',
 'Schalke 04',
 'Dortmund',
 'Hamburg',
 'Leverkusen',
 'Stuttgart',
 'Wolfsburg',
 "M'gladbach",
 'Hertha',
 'Ein Frankfurt',
 'Freiburg',
 'FC Koln',
 'Hannover',
 'Kaiserslautern',
 'Nurnberg',
 'Mainz',
 'Bochum',
 'Hansa Rostock',
 'Munich 1860',
 'Hoffenheim',
 'Bielefeld',
 'Duisburg',
 'Augsburg',
 'Karlsruhe',
 'Cottbus',
 'St Pauli',
 'Uerdingen',
 'Unterhaching',
 'Dusseldorf',
 'Dresden',
 'Darmstadt',
 'Ingolstadt',
 'RB Leipzig',
 'Wattenscheid',
 'Ulm',
 'Paderborn',
 'Braunschweig',
 "M'Gladbach",
 'Fortuna Dusseldorf',
 'Leipzig',
 'Greuther Furth',
 'Aachen']

In [12]:
new_team_names = [
    'FC Bayern München',
    'Werder Bremen',
    'FC Schalke 04',
    'Borussia Dortmund',
    'Hamburger SV',
    'Bayer 04 Leverkusen',
    'VfB Stuttgart',
    'VfL Wolfsburg',
    'Borussia Mönchengladbach',
    'Hertha BSC',
    'Eintracht Frankfurt',
    'SC Freiburg',
    '1. FC Köln',
    'Hannover 96',
    '1. FC Kaiserslautern',
    '1. FC Nürnberg',
    '1. FSV Mainz 05',
    'VfL Bochum',
    'Hansa Rostock',
    'TSV 1860 München',
    'TSG 1899 Hoffenheim',
    'Arminia Bielefeld',
    'MSV Duisburg',
    'FC Augsburg',
    'Karlsruher FC',
    'Energie Cottbus',
    'FC St. Pauli',
    'KFC Uerdingen 05',  # FC Bayer 05 Uerdingen prior to '96
    'SpVgg Unterhaching',
    'Fortuna Düsseldorf',
    'Dynamo Dresden',
    'SV Darmstadt 98',
    'FC Ingolstadt 04',
    'RB Leipzig',
    'SG Wattenscheid 09',
    'SSV Ulm 1846',
    'SC Paderborn 07',
    'Eintracht Braunschweig',
    'Borussia Mönchengladbach',
    'Fortuna Düsseldorf',
    'VfB Leipzig',
    'SpVgg Greuther Fürth',
    'Alemannia Aachen'
]

In [13]:
df.replace(to_replace=old_team_names,
           value=new_team_names,
           inplace=True)

In [14]:
df.head(20)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,7/8/1993,FC Bayern München,SC Freiburg,3,1,H,NaN,NaN,NaN,1993-94
1,7/8/1993,Borussia Dortmund,Karlsruher FC,2,1,H,NaN,NaN,NaN,1993-94
2,7/8/1993,MSV Duisburg,Bayer 04 Leverkusen,2,2,D,NaN,NaN,NaN,1993-94
3,7/8/1993,1. FC Köln,1. FC Kaiserslautern,0,2,A,NaN,NaN,NaN,1993-94
4,7/8/1993,Hamburger SV,1. FC Nürnberg,5,2,H,NaN,NaN,NaN,1993-94
5,7/8/1993,VfB Leipzig,Dynamo Dresden,3,3,D,NaN,NaN,NaN,1993-94
6,7/8/1993,Borussia Mönchengladbach,Eintracht Frankfurt,0,4,A,NaN,NaN,NaN,1993-94
7,7/8/1993,SG Wattenscheid 09,FC Schalke 04,3,0,H,NaN,NaN,NaN,1993-94
8,7/8/1993,Werder Bremen,VfB Stuttgart,5,1,H,NaN,NaN,NaN,1993-94
9,14/08/93,Dynamo Dresden,MSV Duisburg,0,1,A,NaN,NaN,NaN,1993-94
10,14/08/93,Eintracht Frankfurt,Werder Bremen,2,2,D,NaN,NaN,NaN,1993-94
11,14/08/93,SC Freiburg,SG Wattenscheid 09,4,1,H,NaN,NaN,NaN,1993-94
12,14/08/93,1. FC Kaiserslautern,Borussia Mönchengladbach,4,2,H,NaN,NaN,NaN,1993-94
13,14/08/93,Karlsruher FC,Hamburger SV,2,0,H,NaN,NaN,NaN,1993-94
14,14/08/93,Bayer 04 Leverkusen,FC Bayern München,2,1,H,NaN,NaN,NaN,1993-94
15,14/08/93,1. FC Nürnberg,1. FC Köln,1,0,H,NaN,NaN,NaN,1993-94
16,14/08/93,FC Schalke 04,Borussia Dortmund,1,0,H,NaN,NaN,NaN,1993-94
17,14/08/93,VfB Stuttgart,VfB Leipzig,0,0,D,NaN,NaN,NaN,1993-94
18,21/08/93,FC Bayern München,Dynamo Dresden,5,0,H,NaN,NaN,NaN,1993-94
19,21/08/93,Borussia Dortmund,SC Freiburg,3,2,H,NaN,NaN,NaN,1993-94

In [15]:
df.replace({'H': 'Home', 'A': 'Away', 'D': 'Draw'}, inplace=True)

df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,7/8/1993,FC Bayern München,SC Freiburg,3,1,Home,NaN,NaN,NaN,1993-94
1,7/8/1993,Borussia Dortmund,Karlsruher FC,2,1,Home,NaN,NaN,NaN,1993-94
2,7/8/1993,MSV Duisburg,Bayer 04 Leverkusen,2,2,Draw,NaN,NaN,NaN,1993-94
3,7/8/1993,1. FC Köln,1. FC Kaiserslautern,0,2,Away,NaN,NaN,NaN,1993-94
4,7/8/1993,Hamburger SV,1. FC Nürnberg,5,2,Home,NaN,NaN,NaN,1993-94

Using "replace" on the whole DataFrame works just fine here BUT should probably be avoided in favor or pd.Series.replace to not replace values in other columns by accident.

## Create Team - Hometown relationship DataFrame

In [16]:
team_to_hometown = {
    'FC Bayern München': 'München',
    'Werder Bremen': 'Bremen',
    'FC Schalke 04': 'Gelsenkirchen',
    'Borussia Dortmund': 'Dortmund',
    'Hamburger SV': 'Hamburg',
    'Bayer 04 Leverkusen': 'Leverkusen',
    'VfB Stuttgart': 'Stuttgart',
    'VfL Wolfsburg': 'Wolfsburg',
    'Borussia Mönchengladbach': 'Mönchengladbach',
    'Hertha BSC': 'Berlin',
    'Eintracht Frankfurt': 'Frankfurt',
    'SC Freiburg': 'Freiburg',
    '1. FC Köln': 'Köln',
    'Hannover 96': 'Hannover',
    '1. FC Kaiserslautern': 'Kaiserslautern',
    '1. FC Nürnberg': 'Nürnberg',
    '1. FSV Mainz 05': 'Mainz',
    'VfL Bochum': 'Bochum',
    'Hansa Rostock': 'Rostock',
    'TSV 1860 München': 'München',
    'TSG 1899 Hoffenheim': 'Hoffenheim',
    'Arminia Bielefeld': 'Bielefeld',
    'MSV Duisburg': 'Duisburg',
    'FC Augsburg': 'Augsburg',
    'Karlsruher FC': 'Karlsruhe',
    'Energie Cottbus': 'Cottbus',
    'FC St. Pauli': 'Hamburg',
    'KFC Uerdingen 05': 'Krefeld',
    'SpVgg Unterhaching': 'Unterhaching',
    'Fortuna Düsseldorf': 'Düsseldorf',
    'Dynamo Dresden': 'Dresden',
    'SV Darmstadt 98': 'Darmstadt',
    'FC Ingolstadt 04': 'Ingolstadt',
    'RB Leipzig': 'Leipzig',
    'SG Wattenscheid 09': 'Bochum',
    'SSV Ulm 1846': 'Ulm',
    'SC Paderborn 07': 'Paderborn',
    'Eintracht Braunschweig': 'Braunschweig',
    'VfB Leipzig': 'Leipzig',
    'SpVgg Greuther Fürth': 'Fürth',
    'Alemannia Aachen': 'Aachen'
}

Save the Team - Hometown relationship as csv file.

In [17]:
team_hometown_df = pd.Series(team_to_hometown)

team_hometown_df.to_csv('datasets/Bundesliga_Team_Hometown.csv')

## Add additional attributes

Add a new "Played In" attribute to the DataFrame.
This column can be discarded if you can look up the Team - Hometown relation.

In [18]:
df['Played_in'] = df['HomeTeam'].map(team_to_hometown)

df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season,Played_in
0,7/8/1993,FC Bayern München,SC Freiburg,3,1,Home,NaN,NaN,NaN,1993-94,München
1,7/8/1993,Borussia Dortmund,Karlsruher FC,2,1,Home,NaN,NaN,NaN,1993-94,Dortmund
2,7/8/1993,MSV Duisburg,Bayer 04 Leverkusen,2,2,Draw,NaN,NaN,NaN,1993-94,Duisburg
3,7/8/1993,1. FC Köln,1. FC Kaiserslautern,0,2,Away,NaN,NaN,NaN,1993-94,Köln
4,7/8/1993,Hamburger SV,1. FC Nürnberg,5,2,Home,NaN,NaN,NaN,1993-94,Hamburg

## Rename attributes to be more descriptive

In [19]:
renamings = {
    "HomeTeam": "Home_Team",
    "AwayTeam": "Away_Team",
    "FTHG": "Full_Time_Home_Goals",
    "FTAG": "Full_Time_Away_Goals",
    "FTR": "Full_Time_Result",
    "HTHG": "Half_Time_Home_Goals", 
    "HTAG": "Half_Time_Away_Goals",
    "HTR": "Half_Time_Result"
}

df.rename(columns=renamings, inplace=True)

df.head()

,Date,Home_Team,Away_Team,Full_Time_Home_Goals,Full_Time_Away_Goals,Full_Time_Result,Half_Time_Home_Goals,Half_Time_Away_Goals,Half_Time_Result,Season,Played_in
0,7/8/1993,FC Bayern München,SC Freiburg,3,1,Home,NaN,NaN,NaN,1993-94,München
1,7/8/1993,Borussia Dortmund,Karlsruher FC,2,1,Home,NaN,NaN,NaN,1993-94,Dortmund
2,7/8/1993,MSV Duisburg,Bayer 04 Leverkusen,2,2,Draw,NaN,NaN,NaN,1993-94,Duisburg
3,7/8/1993,1. FC Köln,1. FC Kaiserslautern,0,2,Away,NaN,NaN,NaN,1993-94,Köln
4,7/8/1993,Hamburger SV,1. FC Nürnberg,5,2,Home,NaN,NaN,NaN,1993-94,Hamburg

Save the resulting DataFrame as csv. Make sure not to overwrite the original file.

In [20]:
df.to_csv('datasets/Bundesliga_Results_Cleaned.csv')